<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.cycmin.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cycmin</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>flobikes</string>
		<string>flosports</string>
		<string>max</string>
		<string>hbomax</string>
		<string>overcast</string>
		<string>podmin</string>
		<string>peacock</string>
		<string>peacocktv</string>
		<string>pktc</string>
		<string>podcasts</string>
		<string>spotify</string>
		<string>vidmin</string>
		<string>youtube</string>
		<string>movmin</string>
		<string>cycmin</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Rotina-ExtraThin.woff2</string>
		<string>Rotina-Thin.woff2</string>
		<string>Rotina-ExtraLight.woff2</string>
		<string>Rotina-Light.woff2</string>
		<string>Rotina-Regular.woff2</string>
		<string>Rotina-Medium.woff2</string>
		<string>Rotina-Bold.woff2</string>
		<string>Rotina-ExtraBold.woff2</string>
		<string>Rotina-ExtraThinItalic.woff2</string>
		<string>Rotina-ThinItalic.woff2</string>
		<string>Rotina-ExtraLightItalic.woff2</string>
		<string>Rotina-LightItalic.woff2</string>
		<string>Rotina-Italic.woff2</string>
		<string>Rotina-MediumItalic.woff2</string>
		<string>Rotina-BoldItalic.woff2</string>
		<string>Rotina-ExtraBoldItalic.woff2</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
